/* TaskPage.css */
.scenario-button {
  background-color: #4CAF50;
  /* Green background */
  color: white;
  /* White text */
  padding: 10px 20px;
  /* Padding around the text */
  margin: 16px 10px;
  /* Space between the buttons */
  border: none;
  /* No border */
  cursor: pointer;
  /* Mouse pointer on hover */
  display: inline-block;
  /* Inline block level elements */
  transition: 0.3s;
  /* Transition for the hover effect */
  text-align: center;
  /* Center the text inside */
  text-decoration: none;
  /* No underline on text */
  font-size: 16px;
  /* Font size */
}

.scenario-button:hover {
  background-color: #000000;
  /* Darker green background on hover */
}